<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <!-- <h1>멀티 연습1 : 한번에 여러개 업로드</h1>
        <form action="/upload/array" method="post" enctype="multipart/form-data">
            <input type="file" name="userfiles" multiple /><br />
            <input type="text" name="title" multiple><br />
            <button type="submit">업로드</button>

        </form> -->
        <h1>동적 파일 업로드</h1>
        <form onsubmit="fileupload(event)">
            <input type="file" id="dynamic" multiple/><br />
            <input type="text" id="title" multiple/><br />
            <button type="submit">업로드</button>
        </form>
        <div class="result"></div>

        <script>

            const resultBox = document.querySelector('.result');

            async function fileupload(event){
                
                event.preventDefault();
                const title = document.querySelector('#title').value;
                const file = document.querySelector('#dynamic');
                const formData = new FormData();
                formData.append('title',title);
                for(let i=0; i<file.files.length; i++){
                    formData.append('dynamic',file.files[i]);
                }
                
                try{
                    const res = await axios({
                    method : 'POST',
                    url : '/dynamic',
                    data : formData,
                    headers : {
                        'Content-Type' : 'multipart/form-data',
                    },
                    });
                    res.data.forEach(element => {
                       // resultBox.innerHTML += `<img src=${element.path}>`
                        const img = document.createElement('img');
                        img.src = element.path;
                        img.style.width = "500px";
                        resultBox.appendChild(img);
                    });
                }
                catch(error){
                    console.log(error);
                }
                    
             
                }
                
            

              
                
                
            
        </script>

    </body>
</html>
