<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%  for(var i=0; i<data.length; i++){ %>
        ------
        <%= data[i] %>
        단
        ------
        <%  for(var j=1; j<10; j++){ %>
    <div>
        <%= `${data[i]}*${j}=${data[i]*j}` %>
    </div>
    <%  } %>
    <br />
    <%  } %>
  
</body>
</html>