<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>로그인</h2>
    <form name="login-form">
        <input type="text" id="id" />
        <input type="password" id="pw">
        <button type="button" onclick="login()">로그인</button>

    </form>

        <script>
            function login(){
                
                const form = document.forms['login-form'];
                console.log('login',form.id.value);
                axios({
                    method: 'POST',
                    url : '/login',
                    data : {
                        id : form.id.value,
                        pw : form.pw.value
                        
                    },
                }).then((res)=>{
                    console.log('res',res.data);
                    if(res.data.result){
                        localStorage.setItem('login_token',res.data.token);
                        document.location.href='/';
                    }
                });
                
            }
        </script>
</body>
</html>